/*------------------HTML--------------------*/

body {
    background: url(../images/newMainPage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
  }
  h2 {
      color:white;
      font-style: bold;
      align-self: center;
  }

  .pageTitles {
      margin-bottom: 50px;
  }



/*------------------NAV BAR------------------*/

.navbar {
    border: none;
    color: white;
}

.navbar-nav a{
    cursor: pointer;
    font-size: 20px;
}

#brandName {
    font-size: 25px;
    color: white;
    font-family: italic
}

#brandName:hover {
    font-family: Helvetica;
    font-size: 25px;
}

.navBack {
    background-color: black;
    box-sizing: 0;
}

/*----------------HEAD PAGE----------------*/
h1{
    font-family: 'italic';
}

#aboutMe {
    height: 60%;
    width: 50%;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 50px;
    padding: 5px 20px;

    color: white;
    border-radius: 4%;
}

.mainHead {
    display: flex;
    flex-direction: row;
    height: 10em;
    align-items: center;
    justify-content: space-between;
}

#myName {

    border-radius: 4%;
    opacity: .9;
    color: white;
    text-align: center;
}

#me{
    margin-bottom: 20px;
    margin-top: 0;
}

img {
    height: 300px;
    width: 300px;
    text-align: center;
}

#picOfMe {
    padding: 15px;
    animation:
      stretch
      1.5s
      ease-out
      0s
      alternate
      1
      none
      running;
  }

  @keyframes stretch {
    0% {
      transform: scale(.2);
      transform: rotate(.2);
      border-radius: 100%;
    }

    100% {
      transform: scale(1);
    }
  }

/*----------------PROJECT PAGE-------------*/



#projectImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 320px;
    width: 580px;
    border-radius: 8%;
    box-shadow: 5px 5px;
}

.jumbotron {
    border-radius: 10%;
    background-color: slategray !important;
    opacity: .9;
}

.projectsTitle {
    text-align: center;
    text-shadow: 2px 2px whitesmoke;
}


/*---------------TECHNOLOGIES PAGE-------------*/


i {
    font-size: 12rem;
    padding-top: 20px;
}

.col-md-3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#techId {
    padding-top: 35px;
    float: right;
    font-size: 32px;
    color: white;
}



/*---------------CONTACT PAGE ------------*/

#contact {
    background-color: slategray;
    opacity: .8;
    border-radius: 8%;
    text-align: center;
    align-items: center;
    font-size: 18px;
    height: 350px;
}

.projectButts {
    background-color: rgb(166, 175, 175);
    border-radius: 75%;
    margin: 5px;
    font-size: 15px;
}
a:hover{
    text-decoration: none;
}

span {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}

/*---------------MEDIA QUERIES------------*/

