/*------------------HTML--------------------*/

body {
    background: url(../images/main-page.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
  }
  h2 {
      color:white;
      font-style: bold;
      align-self: center;
  }

  .pageTitles {
      margin-bottom: 50px;
  }



/*------------------NAV BAR------------------*/

button {
     margin-top:20px;
    font-family: 'Eater', cursive;
    font-size: 60px;
    opacity: 0.8;
}

#brandName {
    font-size: 60px;
    color: black;
}

#brandName:hover {
    font-family: 'Eater', cursive;
    font-size: 60px;
}

button:hover {
    opacity: 1;
}

.navBack {
    background-color: lightskyblue;
    box-sizing: 0;
}

/*----------------HEAD PAGE----------------*/
h1{
    font-family: 'Pacifico', cursive;
}

#aboutMe {
    height: 60%;
    width: 50%;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 50px;
    padding: 5px 20px;
    background-color: lightslategray;
    opacity: .9;
    color: white;
    border-radius: 4%;
}

.mainHead {
    display: flex;
    flex-direction: row;
    height: 10em;
    align-items: center;
    justify-content: space-between;
}

#myName {
    background-color: slategray;
    border-radius: 4%;
    opacity: .9;
    color: white;
    text-align: center;
}

#me{
    margin-bottom: 20px;
    margin-top: 0;
}

#picOfMe {
    padding: 15px;
    animation:
      stretch
      1.5s
      ease-out
      0s
      alternate
      1
      none
      running;
  }

  @keyframes stretch {
    0% {
      transform: scale(.2);
      transform: rotate(.2);
      border-radius: 100%;
    }

    100% {
      transform: scale(1);
    }
  }


  /*--------------BLOGS PAGE---------------*/

#blogsPage{
    padding: 20px 30px;
    background-color: lightslategray;
    opacity: .9;
    color: white;
}

/*----------------PROJECT PAGE-------------*/
img {
    height: 300px;
    width: 300px;
    text-align: center;
}


/*---------------TECHNOLOGIES PAGE-------------*/

.techs {
    height: 100px;
    width: 100px;
}




/*---------------CONTACT PAGE ------------*/

#contact {
    background-color: slategray;
    opacity: .8;
    border-radius: 8%;
    text-align: center;
    align-items: center;
    font-size: 18px;
    height: 350px;
}

a {
    background-color: black;
    padding: 5px;
}

span {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 24px;
}

/*---------------MEDIA QUERIES------------*/

